@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');
@media (min-width: 600px) {
.notes {
  margin: 0;
  padding: 0;
  background-image: url('./img/fondo.png');
  display:flexbox;
}

.sentence {
    font-size: xx-large;
    font-family: 'Crafty Girls', cursive;
    display: grid;
    justify-items: center;
    margin: auto;
}
.BtnLogout {
    background-image: url('./img/highliter.svg');
    font-family: 'Crafty Girls', cursive;
    font-size: larger;
    border: none;
    margin-left: 85%;
    margin-top: 10%;
}




}