@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

.notes {
  display:flexbox;
}

.sentence {
    font-size: xx-large;
    font-family: 'Crafty Girls', cursive;
    padding-top: 10%;
    display: grid;
    justify-items: center;
}
.BtnLogout {
    background-image: url('./img/highliter.svg');
    font-family: 'Crafty Girls', cursive;
    font-size: larger;
    border: none;
    margin-left: 85%;
}