@import url('https://fonts.googleapis.com/css2?family=Crafty+Girls&display=swap');

.showNotes {
    display: grid;
    justify-items: center;
}

.showTitle {
    font-family: 'Crafty Girls', cursive;
    background-image: url('./img/highliter.svg');
    width: 500px;
    height:  25px;
    border: none;
    display: grid;
    justify-content: center;
    margin-top: 2%;
}

.showNote {
    font-family: 'Crafty Girls', cursive;
    background-image: url('./img/postit.svg');
    border: none;
    display: grid;
    justify-content: center;
    width: 576px;
    height: 208px;
}